.App {
  text-align: center;
}

li {
  list-style-type: none;
}

table {
  border: 2px solid black
}

th {
  border: 1px solid black;
}

tbody td {
  border: 1px solid black;
}

span {
  color: red;
}

.imgstyle {
  height: 100px;
  width: 100px;
}